html, body {
	font-family: monospace;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

* {
	font-family: monospace;
}

a {
	color: #7228ff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
