---
import Dither from '../blocks/Backgrounds/Dither/Dither.tsx';
import AnimatedTextBox from '../blocks/AnimatedTitle/AnimatedTextBox.tsx';
import LetterGlitch from "../blocks/Backgrounds/LetterGlitch/LetterGlitch";
---

<div style={{width: '100%', height: '100%', position: 'absolute', top: 0, left: 0}}>
	<!--Dither client:load/-->
	<LetterGlitch client:load/>
</div>

<AnimatedTextBox
	client:load
	titleText="LeNooby09's site"
	contentText={`
Hello, I am a caffeine addict, high school student, and a professional idiot with access to the internet.

Games:
Terraria, Stardew valley, Minecraft, Red Dead Redemption 2, Ready Or Not, No Man’s Sky, Ghostrunner, Kingdom Come Deliverance, BeamNG Drive and BitBurner

`}
/>
