---
import Dither from '../blocks/Backgrounds/Dither/Dither.tsx';
import AnimatedTextBox from '../blocks/AnimatedTitle/AnimatedTextBox.tsx';
import LetterGlitch from "../blocks/Backgrounds/LetterGlitch/LetterGlitch";
import '../styles/global.css';

const Formatted = `
============================== <br/>
`;
---

<div style={{width: '100%', height: '100%', position: 'absolute', top: 0, left: 0}}>
	<!--Dither client:load/-->
	<LetterGlitch client:load/>
</div>

<AnimatedTextBox
	client:load
	titleText="LeNooby09's site"
	contentText={`

`}
	formattedContent={Formatted}
/>
