---
import Dither from '../blocks/Backgrounds/Dither/Dither.tsx';
import AnimatedTextBox from '../blocks/AnimatedTitle/AnimatedTextBox.tsx';
---

<div style={{width: '100%', height: '100%', position: 'absolute', top: 0, left: 0}}>
	<Dither client:load/>
</div>

<AnimatedTextBox
	client:load
	titleText="LeNooby09's site"
	contentText="Welcome to my website! This text is being decrypted with an animation."
/>
